@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateX360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.group:hover .icon-rotate {
  animation: rotateX360 1s linear infinite;
  transform-style: preserve-3d;
}


